# DATABASE
MONGODB_URI=mongodb+srv://nandora_port:2Vvi7QlNnaqzs4uq@cluster0.v7uvqmx.mongodb.net/?appName=Cluster0

# AUTHENTICATION
NEXTAUTH_SECRET=your_nextauth_secret_here
NEXTAUTH_URL=http://localhost:3000

# CLOUDINARY
CLOUDINARY_CLOUD_NAME=dpgxkatt7
CLOUDINARY_API_KEY=732748716522911
CLOUDINARY_API_SECRET=f2pTGSPY40wmAPk2LbwgTbzI670

# ADMIN CREDENTIALS (MOCK)
ADMIN_USERNAME=admin
ADMIN_PASSWORD=password123
